*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 40px;
}

h1 {
  font-size: 50px;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}

.app:before {
  content: '';
  background: url('./assets/sunset.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.app .search {
  text-align: center;
  padding: 20px;
}

.app input {
  padding: 10px 15px;
  font-size: 30px;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255,0.8);
  background: rgba(255,255,255,0.1);
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1px;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  font-size: 30px;
  background-color: navy;
  color: #fff;
}

.app .top {
  width: 100%;
  margin: 10px auto;
}

.app .description {
  position: relative;
  transform-origin: 0 0;
}

.app .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(255,255,255,0.2);
}

.bold {
  font-weight: 900;
}